.games {
    width: 80%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(199, 208, 226, 0.4);
    border: 2px solid whitesmoke;
    border-radius: 15px;
  
    margin-top: 1rem;
    margin-bottom: 50px;
  }
  
  .games--filters {
    width: 80%;
    height: 100px;
    gap: 1rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(221, 215, 250, 0.3);
    border-radius: 10px;
  }
  
  .games--filtersTittle {
    font-size: 1.5rem;
  }
  
  .games--filtersWrap {
    width: 100%;
    height: auto;
    gap: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .games--tittle {
    color: rgb(86, 112, 146);
    font-size: 3rem;
  
    margin: 1rem;
  }
  
  .game--filtersSelectors label:last-of-type {
    padding-left: 1rem;
  }
  
  .games--pageButtons {
    width: 15%;
    height: 85px;
    gap: .5rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    gap: .5rem;
    background-color: rgba(221, 215, 250, 0.3);
    border-radius: 10px;
  
    margin: 1rem 0 1rem 0;
  }
  
  .games--pageButtonsWrap {
    width: 100%;
    gap: .5rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .games--pageButtonsWrap button {
    width: 25px;
    height: 35px;
  
    color: rgb(238, 242, 255);
    font-size: 1.1rem;
  
    background-color: rgb(154, 161, 202);
    border: 2px solid rgb(238, 242, 255);
    border-radius: 5px;
  }
  
  .games--pageButtonsWrap button:nth-child(2) {
    width: 45px;
  }
  
  .games--searchTittleWrap {
    width: 30%;
    height: 55px;
    gap: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(221, 215, 250, 0.3);
    border-radius: 10px;
  }
  
  .games--gameCardWrap {
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 1rem;
  }
  
  .games--gameCard {
    width: 35%;
    height: 200px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border-radius: 15px;
    background-color: rgba(199, 208, 226, 0.8);
    box-shadow: 5px 8px 10px rgb(126, 135, 156);
    margin-bottom: 1rem;
  }
  
  .games--gameCardData {
    width: 60%;
    height: 70%;
    gap: .3rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .games--gameCardData p {
    color: rgb(82, 80, 97);
    font-weight: normal;
  }
  
  .games--gameCardData span {
    color: rgb(88, 86, 105);
  }
  
  .games--gameCardButtonsWrap {
    width: 60%;
    height: 10%;
    gap: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 0.5rem;
  }
  
  .games--gameCardButton {
    width: 100px;
    height: 35px;
  
    background-color: rgb(211, 214, 243);
    border: 2px solid rgb(238, 242, 255);
    border-radius: 10px;
  }
  
  .games--gameCardButton:hover {
    background-color: rgb(247, 247, 255);
    border-color: rgb(100, 101, 114);
  }