.login--logForm {
  width: 100%;
  height: 100%;
  gap: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 2rem;
}

.login--logForm button,
.login--logedData button {
  width: 150px;
  height: 30px;

  color: rgb(78, 91, 133);
  font-size: 1.1rem;

  background-color: rgb(191, 196, 224);
  border: 2px solid rgb(38, 54, 105);
  border-radius: 5px;
}

.login--formInputWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login--passwordWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login--eyeWrap {
  position: relative;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-eye, .fa-eye-slash {
  position: absolute;

  font-size: 1rem;
  color: #29263d;
}

.login--errorMessage {
  font-size: .8rem;
}

.login--registerLink {
  width: 15%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login--loged {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login--logedData {
  width: 100%;
  height: 50%;
  gap: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 2rem;
}

.login--logedData p:first-child {
  color: rgb(219, 213, 245);
}

.login--linksWrap {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login--statusMessage {
  width: 30%;
  height: 25px;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(218, 240, 255);
  border: 2px solid rgb(34, 18, 92);
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 10px;
}

@media screen and (max-width: 1000px) {
  .login--logForm {
    width: 100%;
    height: 80px;
    gap: .2rem;

    flex-direction: column;
    justify-content: center;
  }

  .login--logedData {
    width: 100%;
    height: 80px;
    gap: .2rem;

    flex-direction: column;
    justify-content: center;
  }

  .login--logForm button,
  .login--logedData button {
    width: 150px;
    height: 30px;
  }

  .login--formInputWrap input {
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    height: 20px;
  }

  .login--errorMessage {
    font-size: .6rem;
  }

  .login--statusMessage {
    width: 60%;
    height: 20px;

    font-size: .9rem;
  }
}