.footer {
    width: 80%;
    height: 75x;
    gap: .2rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(116, 131, 199);
    border: 2px solid whitesmoke;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    
    padding: 10px;
    margin-top: auto;
}

.footer--nav {
    width: 100%;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer--navLink {
    color: rgb(199, 213, 253);
}

.footer--sign {
    font-size: .9rem;
    color: rgb(36, 32, 48);
}

@media screen and (max-width: 1000px) { 
    .footer {
        width: 100%;
        height: 60px;
    }

    .footer--sign {
        font-size: .8rem;
    }
    
}
